@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido</h2>

    <a href="~/Calculador/Cuadrados">Ir a Calculador de Cuadrados</a><br />
    <a href="~/Calculador/Triangulos">Ir a Calculador de Triangulos</a>
