@model CalculadorDeAreasDeFiguras.Models.Figura

@{
    ViewBag.Title = "Cuadrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Cuadrados", "Calculador", FormMethod.Post)) 
{
        @Html.LabelFor(@model => model.bases, "Base");
        @Html.TextBoxFor(model => model.bases);
    <br />
    
        @Html.LabelFor(@model => model.altura, "Altura");
        @Html.TextBoxFor(model => model.altura);
    <br />
    
        <button type="submit">Operar</button>                
}
